@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  overflow-y: auto; /* Allow scrolling but hide bar below */
}

/* Hide Scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: just make scrollbar invisible */
}

html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

/* Custom Utilities if needed */
body {
  background-color: #fff7ed;
  color: #111827; /* gray-900 equivalent */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dark body {
  background-color: #111827; /* gray-900 */
  color: #f3f4f6; /* gray-100 */
}
